# assembled binaries
*.prg
*.PRG
*.bin
*.BIN
*.BIN.PAL
*.zsm
*.ZSM
*.list
*.img

# symbolic link to emulator
x16emu

# other files
*.tiled-session

# dumps
dump*.bin

# gifs
*.gif

# vim stuff
*.swp
*.un~
*.swo

# git stats
stats/*
